<template>
  <div class="home">
    <vote />
  </div>
</template>

<script>
// @ is an alias to /src
import Vote from "@/components/Vote.vue";

export default {
  name: "Home",
  components: {
    Vote,
  },
};
</script>
