<template>
  <div class="Avatar">
      <h3>{{data.name}}</h3>
      <img :src="data.pic" class="roundedImage">
    <p> Home world : {{data.homeworld}}</p>
  </div>
</template>

<script>
export default {
  name: "Avatar",
  props : {
     data : {}
  }
};
</script>

<style scoped lang="scss">
.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>