<template>
<div>
    <ul>
    <li v-for="item in match" :key="item.id">
        <Avatar :data= item />
    </li>
    </ul>
    <button v-on:click= "voting" > Vote for this match </button> <br/>  <br/>OR <br/> <br/>
</div>
</template>

<script>
import Avatar  from '../components/Avatar.vue'
export default {
  name: "Couple",
  components: {
    Avatar
  },
  methods :{
    voting : function () {
        this.vote = this.vote +1 ;
        this.votes.push( {
            couple : this.match,
            votes : this.vote 
        });
    }
  },
  props : {
        match : new Array(),
        votes : new Array (),
  },
  data : function() {
      return {
          vote : 0 
      }
  }
};
</script>
<style scoped lang="scss">

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

</style>