<template>
<div>
<ul >
  <li v-for="item in votes" :key="item.id">
    <Avatar :data= item.couple  /> <p> {{ item.votes}}</p>
  </li>
  <br/>

  <br/>
 
</ul>

</div>

</template>

<script>
export default {
  name: "Results",
  components: {
 
  },
  mounted () {

  },
  methods :{

  },
  props :{
      votes : new Array ()
  },
  data : function (){
    return {
      
    }
    
  }
};
</script>

<style scoped lang="scss">

</style>
